{% extends "account_base.html" %}

{% block sidebar %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    
  <div class="content">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">

       
       <h4> {{post.post_category}}</h4>

            <form action="{% url 'save_edit_post' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="postid" value="{{post.id}}"  required>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Post Title</label>
                    <input type="text" class="form-control" name="title" id="exampleInputEmail1" aria-describedby="enter post title" value="{{post.post_title}}" required>
                   </div>
                   <div class="mb-3">
                    <label for="category" class="form-label">Category Name</label>
                    <select class="form-select" id="category" name="category" aria-label="select category" required>
                      {% for y in category %}
                          {% if post.post_category.id == y.id %}
                              <option value="{{y.id}}" selected>{{y.cat_name}}</option>
                          {% else %}
                              <option value="{{y.id}}">{{y.cat_name}}</option>
                          {% endif %}
                      {% endfor %}
                  </select>
                   </div>
                   <div class="mb-3">
                      <label for="thumbimg" class="form-label">Thubmnail</label>
                      <input class="form-control" type="file" name="thumbimg" id="thumbimg">
                    </div>
                   <div class="mb-3">
                      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                      <textarea class="form-control" name="post_description" id="exampleFormControlTextarea1" rows="5" required>
                        {{post.post_body}}
                      </textarea>
                   </div>
                   <div class="mb-3">
                      <label for="bodyimg" class="form-label">Body Image</label>
                      <input class="form-control" type="file" name="bodyimg" id="bodyimg">
                    </div>
                  <button type="submit" class="btn btn-dark">Update Post</button>
                </form>
  

        </div>
        <div class="col-1"></div>
    </div>
  </div>


</body>
</html>

{% endblock %}