{% extends 'base.html' %}

{% block main %}

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        
        <p class="text-center">
        <h3 style="color: green;">About Us</h3>
        <br>

            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis totam veritatis mollitia suscipit quis deserunt labore quidem voluptatum libero expedita culpa velit nostrum, aliquid reiciendis minima unde eius illo veniam.
        </p>
    </div>
    <div class="col-2"></div>
</div>


{% endblock %}